:root {
    /* Font sizes */
    --fs-150: clamp(62.5px, 7.81vw, 171.88px);
    --fs-86: clamp(38.67px, 4.48vw, 112.65px);
    --fs-80: clamp(35.2px, 4.17vw, 104.79px);
    --fs-48: clamp(21.12px, 2.49vw, 62.92px);
    --fs-32: clamp(13.33px, 1.67vw, 36.67px);
    --fs-24: clamp(10.56px, 1.24vw, 31.42px);
    --fs-18: clamp(7.92px, 0.94vw, 23.56px);
    --fs-14: clamp(6.16px, 0.73vw, 18.31px);    

    /* Colors */
    --black: #050A25;
    --white: #E9EBF5;
    --primary-blue: #3548F8;
    --primary-blue-gradient: linear-gradient(to bottom, #050A25 80%, #162184 100%);

    --blue-100: #3140D0;
    --blue-200: #212EAA;
    --blue-300: #162184;
    --blue-400: #111A70;
    --blue-500: #0C145D;

    --size-1216: clamp(538.4px, 63.33vw, 1593.6px);
    --size-904: clamp(400px, 47.08vw, 1183.33px);
    --size-679: clamp(298.6px, 35.38vw, 889.38px);
    --size-592: clamp(261.76px, 30.83vw, 775.42px);
    --size-572: clamp(251.2px, 29.67vw, 749.17px);
    --size-502: clamp(222.4px, 26.08vw, 657.08px);
    --size-440: clamp(196px, 22.92vw, 575px);
    --size-433: clamp(191.2px, 22.46vw, 567.08px);
    --size-392: clamp(173.6px, 20.42vw, 513.33px);
    --size-388: clamp(172px, 20.21vw, 508.33px);
    --size-367: clamp(161.2px, 19.03vw, 480.42px);
    --size-220: clamp(97.6px, 11.46vw, 287.92px);
    --size-196: clamp(86.4px, 10.21vw, 256.67px);
    --size-180: clamp(79.2px, 9.33vw, 235.83px);
    --size-176: clamp(77.6px, 9.08vw, 230.42px);
    --size-80: clamp(35.2px, 4.17vw, 104.79px);
    --size-64: clamp(28.32px, 3.33vw, 83.83px);
    --size-60: clamp(26.4px, 3.13vw, 78.75px);
    --size-48: clamp(21.12px, 2.49vw, 62.92px);
    --size-45: clamp(19.8px, 2.34vw, 58.96px);
    --size-40: clamp(17.6px, 2.08vw, 52.42px);
    --size-32: clamp(14.08px, 1.67vw, 41.92px);
    --size-24: clamp(10.56px, 1.24vw, 31.42px);
    --size-16: clamp(7.04px, 0.83vw, 20.92px);
    --size-8: clamp(3.52px, 0.42vw, 10.46px);    
}

@font-face {
    font-family: 'Inter Black';
    src: url(assets/fonts/Inter-Black.woff2);
}

@font-face {
    font-family: 'Inter Bold';
    src: url(assets/fonts/Inter-Bold.woff2);
}

@font-face {
    font-family: 'Inter Regular';
    src: url(assets/fonts/Inter-Regular.woff2);
}

@font-face {
    font-family: 'Inter Light';
    src: url(assets/fonts/Inter-Light.woff2);
}

html, body {
    overflow-x: hidden;
    min-height: 100vh;
    background: var(--primary-blue-gradient);
    font-family: 'Inter Regular';
}

.wrapper {
    padding-inline: var(--size-40);
    margin-inline: auto;
}

/* Navigation */

.header {
    color: var(--white);
    padding-block: var(--size-40);
}

.header-inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blue-span {
    color: var(--primary-blue);
}

.logo-wrapper {
    font-weight: 900;
    font-family: 'Inter Bold';
    font-size: var(--fs-32);
}

.top-nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-32);
}

.top-nav-list-item {
    list-style: none;
}

.top-nav-list-item a {
    list-style: none;
    font-family: 'Inter Regular';
    font-size: var(--fs-18);
    color: var(--white);
    text-decoration: none;
}

.top-nav-list-item a:hover, .top-nav-list-item a:focus {
    color: var(--primary-blue);
}

.nav-btn-wrapper {
    font-size: var(--fs-18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-32);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: var(--size-8);
}

.nav-btn {
    color: var(--white);
    padding: calc(var(--size-24) / 2) var(--size-24);
    text-decoration: none;
    display: block;
    flex-shrink: 0;
    font-size: var(--fs-18);
    border-radius: 2px;
    background-color: var(--primary-blue);
}

.nav-btn:first-of-type {
    color: var(--primary-blue);
    background-color: var(--white);
}

.nav-btn:hover, .nav-btn:focus {
    background-color: var(--blue-200);
    color: var(--white);
}

.brg-menu-btn {
    width: 40px;
    cursor: pointer;
}

/* Banner */

.bnr-grid-group {
    margin-block: calc(var(--size-80) * 2) var(--size-32);
    display: grid;
    gap: var(--size-32);
    grid-template-columns: 1fr var(--size-904);
}

.banner .desc-wrapper {
    color: var(--white);
}

.bnr-title {
    margin-bottom: var(--size-24);
    font-family: 'Inter Light';
    font-weight: 300;
    font-size: var(--fs-48);
}

span.strong {
    font-weight: 900;
    font-family: 'Inter Black';
}

.bnr-prg {
    margin-bottom: var(--size-60);
    font-size: var(--fs-24);
    font-weight: 400;
    opacity: 0.8;
}

.gif-wrapper {
    padding: var(--size-32);
    width: var(--size-904);
    /* height: var(--size-502); */
    background-color: rgba(233, 235, 245, 0.05);
}

.demo-video {
    width: 100%;
    height: 100%;
}

.bnr-btn {
    border: none;
    display: block;
    padding: var(--size-16) var(--size-60);
    border-radius: 5px;
    background-color: var(--primary-blue);
    color: var(--white);
    cursor: pointer;
    font-size: var(--fs-18);
}

.bnr-btn:hover, .bnr-btn:focus {
    background-color: var(--blue-200);
    color: var(--white);
}

.bnr-controls-wrapper {
    margin-block: var(--size-40);
    display: flex;
    align-items: center;
}

.left-arrow,
.right-arrow {
    width: var(--size-48);
    height: var(--size-48);
}

.left-line,
.right-line {
    width: var(--size-80);
    height: var(--size-80);
}

.left-arrow {
    margin-right: var(--size-24);
}

.left-line {
    margin-right: var(--size-8);
}

.right-arrow {
    margin-left: var(--size-24);
}

img.left-arrow.disabled, img.right-arrow.disabled {
    pointer-events: none; /* Disable events when arrow is disabled */
    opacity: 0.5; /* Visual feedback for disabled state */
}

.bnr-controls-wrapper > img {
    cursor: pointer;
    flex-shrink: 0;
}

.scrolling-text {
    background-color: var(--primary-blue);
    padding: calc(var(--size-24) / 2);
    transform: rotate(-1.5deg);
    margin-inline: calc(var(--size-40) * -1);
}

.scrolling-text p {
    color: var(--white);
    font-size: var(--fs-18);
    white-space: nowrap;
    overflow-x: hidden;
}

/* Intro */

.animated-text-wrapper {
    margin-block: var(--size-220);
    width: calc(var(--size-1216) * 1.2);
    margin-inline: auto;
}

.animated-title {
    font-size: var(--fs-48);
    font-weight: 900;
    font-family: 'Inter Black';
    color: var(--white);
    text-align: center;
}

.animated-title p {
    transition: opacity 1.5s ease;
    opacity: 0.5;
}

.intro-grid-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--size-32);
}

.intro-grid-element {
    padding: var(--size-40);
    background-color: rgba(233, 235, 245, 0.02);
    height: var(--size-388);
    border: 1px solid rgba(233, 235, 245, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.grid-element-top,
.grid-element-bottom,
.text-field {
    transition: all 0.3s ease;
}

.grid-element-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-element-bottom {
    font-size: var(--fs-24);
    color: var(--white);
    opacity: 0.7;
}

.text-field {
    color: var(--white);
    font-size: var(--fs-80);
    font-family: 'Inter Bold';
}

.intro-grid-element:hover .text-field {
    font-size: var(--fs-86);
}

.intro-grid-element:hover .grid-element-bottom {
    font-size: var(--fs-32);
    font-weight: 700;
    font-family: 'Inter Bold';
    opacity: 1;
}

.svg-field {
    width: var(--size-80);
    height: var(--size-80);
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 /1;
}

.intro-icon {
    width: var(--size-48);
}

/* Booking */

.booking-top {
    margin-block: var(--size-220);
}

.booking-top p {
    margin-left: var(--size-196);
    font-size: var(--fs-48);
    color: var(--primary-blue);
    margin-bottom: var(--size-24);
}

.booking-top-title {
    width: calc(var(--size-1216) * 0.93);
    margin-inline: auto;
    font-size: var(--fs-150);
    font-family: 'Inter Black';
    color: var(--white);
}

.booking-grid-group-title {
    margin-bottom: var(--size-64);
    width: var(--size-572);
    margin-inline: auto;
    color: var(--white);
    text-align: center;
}

.booking-grid-group-title h2 {
    font-size: var(--fs-48);
    font-family: 'Inter Bold';
    margin-bottom: var(--size-8);
}

.booking-grid-group-title p {
    font-size: var(--fs-24);
    opacity: 0.7;
}

.booking-grid-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--white);
    gap: var(--size-32);
}

.booking-grid-element {
    min-height: var(--size-440);
    padding: var(--size-40);
    border: 1px solid rgba(233, 235, 245, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--size-32);
    background: linear-gradient(to bottom, #050A25 20%, #162184 80%);
    border-radius: 5px;
}

.booking-grid-element .top-element {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(233, 235, 245, 0.3);
    padding-bottom: var(--size-24);
}

.booking .top-element .number {
    font-size: var(--fs-18);
}

.booking .bottom-element h2 {
    font-size: var(--fs-32);
    font-family: 'Inter Bold';
    font-weight: 700;
    margin-bottom: var(--size-16);
}

.booking-ul {
    padding-left: 1em;
    overflow: hidden;
    height: 0;
    opacity: 0;
    display: none;
    transition: all 0.7s ease;
}

.booking-li {
    font-size: var(--fs-24);
    margin-bottom: 0.5em;
}

.icon-booking {
    width: var(--fs-24);
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.booking-grid-element.five {
    grid-column: span 2;
}

.booking-grid-element.one:hover, .booking-grid-element.one:focus {
    background: var(--blue-100);
}

.booking-grid-element.two:hover, .booking-grid-element.two:focus {
    background: var(--blue-200);
}

.booking-grid-element.three:hover, .booking-grid-element.three:focus {
    background: var(--blue-300);
}

.booking-grid-element.four:hover, .booking-grid-element.four:focus {
    background: var(--blue-400);
}

.booking-grid-element.five:hover, .booking-grid-element.five:focus {
    background: var(--blue-500);
}

/* Bottom screen */

.screen-grid-group {
    margin-block: var(--size-220);
    display: grid;
    gap: var(--size-180);
    grid-template-columns: 1fr var(--size-904);
}

.bottom-screen .desc-wrapper {
    color: var(--white);
}

.screen-title {
    margin-bottom: var(--size-24);
    font-family: 'Inter Bold';
    font-weight:900;
    font-size: var(--fs-48);
}

.bottom-screen span.strong {
    font-family: 'Inter Black';
    color: var(--primary-blue);
}

.screen-ul {
    margin-top: var(--size-24);
    padding-left: 1em;
}

.screen-prg {
    margin-bottom: var(--size-8);
    font-size: var(--fs-24);
    font-weight: 400;
    opacity: 0.8;
}


.mobile {
    display: none;
}

.hidden {
    display: none;
}

@media screen and (max-width: 700px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: flex;
    }
    .logo-wrapper {
        font-size: 22px;
    }
    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;
    }
    .nav.mobile {
        align-self: center;
    }
    .nav.mobile .top-nav-list {
        flex-direction: column;
        gap: 32px;
    }
    .nav.mobile .top-nav-list-item a {
        font-size: 18px;
    }
    .btn-group.mobile {
        flex-direction: column;
    }
    .nav-btn {
        width: 100%;
        font-size: 18px;
        padding: 12px 24px;
        text-align: center;
    }
    .lang-switch {
        font-size: 18px;
    }
    .bnr-grid-group {
        grid-template-columns: 1fr;
        margin-block: 40px;
    }
    .bnr-title {
        font-size: 32px;
        margin-bottom: 16px;
    }
    .bnr-prg {
        font-size: 18px;
    }
    .bnr-btn {
        padding: 16px 60px;
        font-size: 18px;
        width: 100%;
    }
    .gif-wrapper {
        width: 100%;
        height: auto;
    }
    .bnr-controls-wrapper {
        justify-content: center;
    }
    .left-arrow,
    .right-arrow {
        width: 48px;
        height: 48px;
    }

    .left-line,
    .right-line {
        width: 80px;
        height: 80px;
    }
    .left-arrow {
        margin-right: 24px;
    }
    
    .left-line {
        margin-right: 8px;
    }
    
    .right-arrow {
        margin-left: 24px;
    }
    .scrolling-text {
        padding: 12px;
        transform: rotate(-1.5deg);
        margin-bottom: var(--size-220);
    }
    .scrolling-text p {
        font-size: 18px;
    }
    .bnr-controls-wrapper {
        margin-bottom: 48px;
    }
    .animated-title {
        font-size: 34px;
        font-weight: 700;
    }

    .animated-text-wrapper {
        margin-block: 136px;
        width: 100%;
    }
    .intro-grid-group {
        grid-template-columns: 1fr;
        gap: 16px;
    }
    
    .intro-grid-element {
        padding: 24px;
        height: 296px;
        width: 100%;
    }
    
    .grid-element-bottom {
        font-size: 18px;
    }
    
    .text-field {
        font-size: 48px;
    }
    
    .svg-field {
        width: 40px;
        height: 40px;
    }
    
    .intro-icon {
        width: 24px;
        height: 24px;
    }
    .intro-grid-element:hover .text-field {
        font-size: 56px;
    }
    
    .intro-grid-element:hover .grid-element-bottom {
        font-size: 26px;
    }
    
    .booking-top {
        margin-block: 136px;
    }
    
    .booking-top p {
        margin-left: 0;
        font-size: 24px;
        margin-bottom: 27px;
    }
    
    .booking-top-title {
        width: 100%;
        font-size: 48px;
    }
    .booking-grid-group-title {
        margin-bottom: 40px;
        width: 100%;
    }
    
    .booking-grid-group-title h2 {
        font-size: 34px;
        margin-bottom: 8px;
        font-weight: 500;
    }
    
    .booking-grid-group-title p {
        font-size: 18px;
    }
    
    .booking-grid-group {
        grid-template-columns: 1fr;
        gap: 16px;
    }
    
    .booking-grid-element {
        min-height: 368px;
        padding: 24p;
        gap: 32px;
    }
    
    .booking-grid-element .top-element {
        padding-bottom: 12px;
    }
    
    .booking .top-element .number {
        font-size: 18px;
    }
    
    .booking .bottom-element h2 {
        font-size: 24px;
        margin-bottom: 16px;
    }
    
    .booking-li {
        font-size: 18px;
    }
    
    .icon-booking {
        width: 20px;
    }
    
    .booking-grid-element.five {
        grid-column: span 1;
    }

    
    .screen-grid-group {
        margin-block: 136px 92px;
        gap: 40px;
        grid-template-columns: 1fr;
    }
    .screen-title {
        margin-bottom: 16px;
        font-size: 36px;
    }
    .screen-ul {
        margin-top: 0;
    }

    .screen-prg {
        margin-bottom: 8px;
        font-size: 18px;
    }
}

.collapsible {
    display: none;
}